.header {
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0px 4px 4px -1px #00000040;

  .backArrow {
    margin-left: 16px;
    width: 36px;
    height: 36px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin-left: 16px;
      font-size: 24px;
    }

    .profile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 8px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;

      .user {
        color: var(--highlight-2);
        font-weight: bold;
      }

      img {
        width: 30px;
        height: 30px;
      }

      .optionsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        position: absolute;
        bottom: -75px;
        cursor: auto;

        width: 100px;
        padding: 16px 16px;

        background-color: var(--background);
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);
        box-shadow: 0px 4px 4px 0px #00000040;

        .option {
          cursor: pointer;
        }
      }
    }
  }
}

.headerInfo{
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}