.container {
  background-color: var(--background);
  border-right: solid 1px var(--border-color);
  width: 300px;
}

.hidden {
  width: unset;

  .itemContainer {
    margin: auto;
  }
  .itemText {
    display: none;
  }
}

.logo {
  margin: 16px;
  width: 40px;
  height: auto;
  margin-bottom: 60px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .itemContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      .itemIcon {
        width: 24px;
        height: auto;
      }

      .itemText {
        font-size: 18px;
      }
    }

    .upArrow {
      transform: rotate(180deg);
    }

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .active {
    background-color: var(--highlight-2);

    border-right: solid 3px var(--highlight-1);
  }

  .disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
