.p0 {
  padding: 0 !important;

  button:disabled {
    background: var(--neutral-50) !important;
    border: 1px solid var(--neutral-100) !important;
    color: var(--neutral-200) !important;
    cursor: not-allowed !important;

    &:hover {
      scale: 1;
    }
  }

  input:disabled {
    background: var(--neutral-50) !important;
    border: 1px solid var(--neutral-100) !important;
    color: var(--neutral-200) !important;
    cursor: not-allowed !important;
  }
}

.bannner {
  width: 100%;
  height: 150px;
  background: linear-gradient(-90deg, var(--primary) 0%, var(--primary-2) 100%);
}

.mainInfos {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: -40px;
  gap: 10px;

  img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid var(--neutral-0);
  }

  div {
    transform: translateY(10px);

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: var(--secondary-2);
      transform: translateY(5px) !important;
    }

    span {
      font-size: 12px;
      font-weight: 400;
      color: var(--secondary-2);
      font-weight: 500;
    }
  }
}

.profileIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-2);
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-2);
  }

  button {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--neutral-0);
    font-size: 12px;
    font-weight: 500;
    transition: 300ms;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }
  }
}

.divisor {
  height: 1px;
  opacity: 0.4;
  margin: 10px;
}

.mainContent {
  padding: 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 200px;
  padding: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h4 {
      font-size: 14px;
      font-weight: 600;
      color: var(--secondary-2);
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: var(--secondary-2);
    }
  }
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    background: var(--neutral-0);
    border: 1px solid var(--neutral-100);
    border-radius: 5px;
    padding: 6px 4px;
    margin-bottom: 5px;
    width: 300px;
    font-size: 16px;
    color: var(--primary);
    transition: 300ms;

    &::placeholder {
      color: var(--neutral-200);
    }
  }
}

.updateLogoContainer {
  display: flex;
  flex-direction: row!important;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--neutral-0);
    align-self: flex-start;
    box-shadow: 5px 5px 10px var(--neutral-200);
    margin-right: 40px;
  }

}

.upload {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed var(--secondary-2);
  height: 100px;

  input {
    display: none;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: var(--secondary-2);
    cursor: pointer;

    &:hover > svg {
      transition: 300ms;

      scale: 1.05;
    }
  }
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;

  button {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--neutral-0);
    font-size: 12px;
    font-weight: 500;
    transition: 300ms;
    cursor: pointer;

    &:first-child {
      background: var(--secondary-2);
    }

    &:hover {
      scale: 1.05;
    }
  }
}
