@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #285943;
  --primary-2: #8ed696;
  --secondary: #212b36;
  --secondary-2: #637381;

  --neutral-100: #E4E4E4;
  --neutral-50: #F4F6F8;
  --neutral-0: #FFFFFF;

  --success: #8ed696;
  --warning: #F74044;
  --alert: #fbbb01;

  --box-shadow-black: 0 .4rem .4rem 0 #00000040;
  --box-shadow-green: .4rem .4rem 2.5rem 0 #28594340;

  --border-radius: 8px;

  // font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--highlight-1);
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-2);
  }
}

body {
  background: var(--neutral-50);
  margin: auto;
  overflow-y: hidden;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}

.loadingContainer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}