.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding: 5px 15px 15px;
  overflow-x: scroll;
  overflow-y: hidden;

  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 400ms ease;
}

.divisor {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: var(--secondary-2);
  margin: 5px 0;
  transition: all 400ms ease;
  cursor: pointer;

  p {
    white-space: nowrap;
    font-weight: 600;
    margin-right: 5px;
  }

  hr {
    width: 100%;
    color: var(--secondary-2);
  }

  svg {
    transition: all 400ms ease;
  }
}

.open {
  margin-bottom: 15px;
  max-height: 1000px;
  opacity: 1;
  transition: all 400ms ease;
}

.rotate {
  transform: rotate(180deg);
}
