.card {
  min-width: 350px;
  max-width: 400px;
  padding-bottom: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-1);
  background-color: var(--background);
}

.header {
  position: relative;
  display: flex;
  height: 60px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  justify-content: center;

  img {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
  width: 100%;

  h2 {
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  span {
    font-size: 16px;
    color: var(--legend);
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalText {
  font-size: 16px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 20px 10px;

  button {
    background: var(--highlight-1);
    color: var(--text-white);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 150px;
    font-size: 16px;
    transition: 300ms;
    cursor: pointer;

    &:first-child {
      background-color: var(--background);
      border: 1px solid var(--warning);
      color: var(--warning);

      &:hover {
        background-color: var(--warning);
        color: var(--text-white);
      }
    }

    &:hover {
      scale: 1.05;
    }
  }
}

.denied {
  color: var(--warning);
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
}

.expired {
  color: var(--alert)!important;
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;

  button {
    background: var(--warning);
    color: var(--text-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    width: 150px;
    font-size: 16px;
    transition: 300ms;
    cursor: pointer;

    &:first-child {
      background-color: var(--highlight-1);
    }

    &:hover {
      scale: 1.05;
    }
  }
}

.timer {
  text-align: center;
  display: flex;
  width: 60%;
  gap: 4px;
  margin: auto;
  color: var(--legend);
  justify-content: center;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
