.modal {
  position: absolute;
  background: var(--neutral-50);
  color: var(--secondary);
  margin: auto;
  padding: 3rem 2rem 2rem;
  max-width: 60rem;

  border-radius: var(--border-radius); 
  display: flex;
  flex-direction: column;
}
