.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 1rem;
}

.inputField {
  position: relative;
  width: 100%;

  input {
    border: 1px solid var(--primary);
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
    width: 100%;

    ::placeholder {
        font-weight: 500;
      font-size: 1.4rem;
    }
  }

  img {
    position: absolute;
    right: 0;
    margin-right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}