@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #637381;
  --text: #212b36;
  --text-white: #ffffff;
  --legend: #637381;
  --highlight-1: #285943;
  --highlight-2: #8ed696;
  --highlight-3: #BCF7BE;
  --secundary: #525252;
  --role-btn: #E4E4E4;
  --background: #F4F6F8;
  --background-2: #F4F6F8;
  --success: #8ed696;
  --warning: #F74044;
  --alert: #fbbb01;

  --box-shadow-1: 0 .4rem .4rem 0 #00000040;
  --box-shadow-2: .4rem .4rem 2.5rem 0 #28594340;

  --border-color: #e5e8eb;
  --border-color-2: #c7cacd;
  --border-radius: 1.2rem;
  --border-radius-medium: 2.4rem;
  --border-radius-large: 3.2rem;

  // font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--highlight-1);
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-2);
  }
}

body {
  background: var(--background);
  margin: auto;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}